//*{color:white;}
body{
  background-image: url(../components/assets/img/colorful_background.jpg);
  background-size: 2000px;
  //background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  color: white;
}