*{
  box-sizing: border-box;
}
body{
  font-family: Consolas,sans-serif;
  padding: 0;
  margin: 0;
/*  background-color: #e0e0e0;*/
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
button{
  text-transform: capitalize !important;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #07689f;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a2d5f2;
}

.Buy-btn {
  padding: 0px 8px;
  margin-left:55px;
  margin-top:10px;
  font-size: 1.1rem;
  transition: color .15s ease-in-out;
  background-color: transparent;
  color: #ffffff !important;
  border:solid rgba(255, 255, 255, 0.481) 1px;
  border-radius:5px;
}

.Buy-btn:hover {
  background-color: #07689f !important;
  transform: scale(1.05);
  text-decoration: underline #333;
  text-decoration: none;
}